RewriteEngine on
RewriteRule ^cgu-cgv$ cgu-cgv.html [NC]
RewriteRule ^règles$ cgu-cgv.html [NC]
RewriteRule ^wiki$ wiki.html [NC]
RewriteRule ^staff$ staff.html [NC]
RewriteRule ^soon$ soon.html [NC]
RewriteRule ^votes$ votes.html [NC]
RewriteRule ^accueil$ index.html [NC]